<style>
    header{
        background-color: yellow;
        text-align: center;
    }

    body{
        background-image: url("Ice.jpg");
        background-size: cover;
    }

    a {
        background-color: aqua;
        text-decoration: none;
    }

    a#header-link {
        background-color: white;
        text-decoration: none;
        color:red;
    }

    a.body-link {
        background-color: black;
        color: white;
    }

    *.red-text{
        color: red;
    }
</style>